--- 
import "../styles/main.scss";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";  
import Background from "../components/Background.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
 import { Tooltips } from "astro-tooltips";

const siteTitle = import.meta.env.SITE_NAME;
const siteDescription =  import.meta.env.SITE_DESCRIPTION;
const siteImage =  import.meta.env.SITE_LOGO;
const siteAuthor =  import.meta.env.SITE_NAME;
const baseUrl =  import.meta.env.SITE_BASE_URL;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="theme-name" content="pages" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#fff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000"
    />
    <meta name="generator" content={Astro.generator} />
   <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />

    <title>{siteTitle}</title>
 

    <meta
      name="description"
      content={siteDescription}
    />
    <meta name="author" content={siteAuthor} />
    <meta property="og:title" content={siteTitle} />
    <meta
      property="og:description"
      content={siteDescription}
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`${baseUrl}/${Astro.url.pathname.replace("/", "")}`}
    />
    <meta
      property="og:image"
      content={siteImage}
    />

    <meta name="twitter:title" content={siteTitle} />
    <meta
      name="twitter:description"
      content={siteDescription}
    />
    <meta
      name="twitter:image"
      content={siteImage}
    />
    <meta name="twitter:card" content="summary_large_image" /> 
    <!-- https://docs.astro.build/en/guides/view-transitions -->
    <ClientRouter fallback="swap" />
    <Tooltips interactive={false} delay={[333, 0]} />
  </head>
  <body>
    <Background />
    <Header />
    <main  >
      <slot/>
    </main>
    <Footer /> 
  </body>
</html>
